.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-box{
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: wheat;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.img-box:hover{
    background-color: white;
    color: black;
    transform: scale(1.08);
    transition: all 0.5s;
}
img{
    width: 350px;
}
.img-flag-box{
    display: flex;
    justify-content: center;
}
.img-flag{
    padding: 5px 150px;
    width: 40px;
}
.grid-number{
    font-size: 20px;
}
.constructors img{
    width: 450px;
}